*.class

# Package Files #
*.jar
*.war
*.ear
target/

# eclipse
.settings/
.classpath
.project
logs/

# idea
.idea/
*.iml
.murphy.yml

*velocity.log*

### STS ###
.apt_generated
.factorypath
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.ipr
*.log
tmp/
!DmJdbcDriver18.jar
!kingbase8-8.6.0.jar