/*
Copyright [2020] [https://www.xiaonuo.vip]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

XiaoNuo采用APACHE LICENSE 2.0开源协议，您在使用过程中，需要注意以下几点：

1.请不要删除和修改根目录下的LICENSE文件。
2.请不要删除和修改XiaoNuo源码头部的版权声明。
3.请保留源码和相关描述文件的项目出处，作者声明等。
4.分发源码时候，请注明软件出处 https://gitee.com/xiaonuobase/xiaonuo-layui
5.在修改包名，模块名称，项目代码等时，请注明软件出处 https://gitee.com/xiaonuobase/xiaonuo-layui
6.若您的项目无法满足以上几点，可申请商业授权，获取XiaoNuo商业授权许可，请在官网购买授权，地址为 https://www.xiaonuo.vip
 */
package ${packageName}.${modularName}.${busName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.cn.xiaonuo.core.pojo.page.PageResult;
import ${packageName}.${modularName}.${busName}.entity.${ClassName};
import ${packageName}.${modularName}.${busName}.param.${ClassName}Param;
import java.util.List;

/**
 * ${functionName}service接口
 *
 * @author ${authorName}
 * @date ${createDateString}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

    /**
     * 查询${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    PageResult<${ClassName}> page(${ClassName}Param ${className}Param);

    /**
     * ${functionName}列表
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    List<${ClassName}> list(${ClassName}Param ${className}Param);

    /**
     * 添加${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    void add(${ClassName}Param ${className}Param);

    /**
     * 删除${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    void delete(List<${ClassName}Param> ${className}ParamList);

    /**
     * 编辑${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
    void edit(${ClassName}Param ${className}Param);

    /**
     * 查看${functionName}
     *
     * @author ${authorName}
     * @date ${createDateString}
     */
     ${ClassName} detail(${ClassName}Param ${className}Param);
}
