<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaonuo.im.modular.message.mapper.ImMessageMapper">

    <select id="queryChatRecord"
            resultType="vip.xiaonuo.im.modular.message.param.ImMessageUserParam">
        SELECT *
        FROM (SELECT ui.user_id,
                     m.CONTENT,
                     m.TYPE,
                     m.CREATE_TIME,
                     m.IS_RECALL,
                     m.FROM_USER_ID,
                     m.TO_USER_ID,
                     COALESCE(um.unread_count, 0) AS unread_count,
                     '1'                          AS chat_type
              FROM (SELECT DISTINCT CASE
                                        WHEN
                                            FROM_USER_ID = #{userId} THEN TO_USER_ID
                                        ELSE FROM_USER_ID END AS user_id,
                                    MAX(CREATE_TIME)          AS last_message_time
                    FROM im_message
                    WHERE (FROM_USER_ID = #{userId} OR TO_USER_ID = #{userId})
                      AND DELETE_FLAG = 'NOT_DELETE'
                    GROUP BY CASE WHEN FROM_USER_ID = #{userId} THEN TO_USER_ID ELSE FROM_USER_ID END) AS ui
                       JOIN im_message m ON ((m.FROM_USER_ID = ui.user_id AND m.TO_USER_ID = #{userId}) OR
                                             (m.FROM_USER_ID = #{userId} AND m.TO_USER_ID = ui.user_id)) JOIN sys_user su ON ui.user_id = su.id
                       LEFT JOIN (SELECT CASE WHEN FROM_USER_ID = #{userId} THEN TO_USER_ID ELSE FROM_USER_ID END AS user_id,
                                         COUNT(*)                                                                 AS unread_count
                                  FROM im_message
                                  WHERE (TO_USER_ID = #{userId})
                                    AND DELETE_FLAG = 'NOT_DELETE'
                                    AND IS_READ = 2
                                  GROUP BY CASE WHEN FROM_USER_ID = #{userId} THEN TO_USER_ID ELSE FROM_USER_ID END) AS um
                                 ON ui.user_id = um.user_id
              WHERE m.CREATE_TIME = ui.last_message_time
                AND m.CHAT_TYPE = '1'
                AND m.DELETE_FLAG = 'NOT_DELETE'
                AND su.DELETE_FLAG = 'NOT_DELETE'
              UNION ALL
              (SELECT m.TO_USER_ID                                                 AS user_id,
                      m.CONTENT,
                      m.TYPE,
                      m.CREATE_TIME,
                      m.IS_RECALL,
                      m.FROM_USER_ID,
                      m.TO_USER_ID,
                      COALESCE(SUM(CASE WHEN m2.IS_READ = 2 THEN 1 ELSE 0 END), 0) AS unread_count,
                      '2'                                                          AS chat_type
               FROM im_message m
                        JOIN (SELECT im.TO_USER_ID,
                                     MAX(im.CREATE_TIME) AS latest_time
                              FROM im_message im
                                       JOIN (SELECT DISTINCT group_id,DELETE_FLAG
                                             FROM im_group_member
                                             WHERE user_id = #{userId}) gm ON im.TO_USER_ID = gm.group_id
                              WHERE im.DELETE_FLAG = 'NOT_DELETE' and gm.DELETE_FLAG = 'NOT_DELETE'
                              GROUP BY im.TO_USER_ID) lgm ON m.TO_USER_ID = lgm.TO_USER_ID
                   AND m.CREATE_TIME = lgm.latest_time
                        LEFT JOIN im_message m2 ON m.TO_USER_ID = m2.TO_USER_ID
                   AND m2.DELETE_FLAG = 'NOT_DELETE'
                   AND m2.IS_READ = 2
               WHERE m.DELETE_FLAG = 'NOT_DELETE'
               GROUP BY m.TO_USER_ID,
                        m.CONTENT,
                        m.TYPE,
                        m.CREATE_TIME,
                        m.IS_RECALL,
                        m.FROM_USER_ID,
                        m.TO_USER_ID
               ORDER BY m.CREATE_TIME DESC)) AS combined_results
        ORDER BY CREATE_TIME DESC
    </select>
</mapper>
